<div class="beams-wrapper global-beam-wrapper">
    <div class="beam">
        <div class="beam-item">
            <footer  class="footer">
                <div class="language">
                    <a href="https://instalguru.pl/"><img src="/assets/img/flag/flag-poland.svg" alt="{{site.data.translations.polish}} "></a>
                    <a href="https://instalguru.co.uk/"><img src="/assets/img/flag/flag-uk.svg" alt="{{site.data.translations.english}} "></a>
                    <a href="https://instalguru.de/"><img src="/assets/img/flag/flag-germany.svg" alt="{{site.data.translations.german}} "></a>
                    <a href="https://instalguru.it/"><img src="/assets/img/flag/flag-italy.svg" alt="{{site.data.translations.italian}} "></a>
                    <a href="https://instalguru.fr/"><img src="/assets/img/flag/flag-france.svg" alt="{{site.data.translations.french}} "></a>
                    <a href="https://instalguru.es/"><img src="/assets/img/flag/flag-spain.svg" alt="{{site.data.translations.spanish}} "></a>
                    <a href="https://instalguru.cs/"><img src="/assets/img/flag/flag-czech.svg" alt="{{site.data.translations.czech}} "></a>
                </div>
                <div class="copy">
                    <p>{{site.data.translations.allRights}} </p>
                </div>
            </footer>
        </div>
    </div>
</div>