<section class="product-item shop-item">
    <a href="{{ productlink }}" class="product-listing-boxitem-md {{producttype}} shop-item" rel="nofollow noopener" target="_blank">
      <div class="img-section shop-item">
        <img class="img shop-item" src="{{ productphoto }}" alt="alt">
      </div>
      <div class="desc-section shop-item">
        <header class="header shop-item">
          <p class="h4 title shop-item">{{ productname }}</p>
          <p class="subtitle shop-item">{{productprice }}</p>
        </header>
        <div class="content">
          <p class="shop-item">{{ productdesc }}</p>
        </div>
        <footer class="footer shop-item">
          <div class="buttons shop-item">
            <p class="btn shop-item">{{site.data.translations.buynow}}</p>        
          </div>
        </footer>
      </div>
    </a>
  </section>