<section class="product-item">
    <a href="{{ productlink }}" class="product-listing-boxitem-md {{producttype}} shop-item" rel="nofollow noopener" target="_blank">
      <div class="img-section">
        <img class="img" src="{{ productphoto }}" alt="alt">
      </div>
      <div class="desc-section">
        <header class="header">
          <p class="h4 title">{{ productname }}</p>
          <p class="subtitle">{{productprice }}</p>
        </header>
        <div class="content">
          <p>{{ productdesc }}</p>
        </div>
        <footer class="footer">
          <div class="buttons">
            <p class="btn">{{site.data.translations.buynow}}</p>        
          </div>
        </footer>
      </div>
    </a>
  </section>