<div class="beams-wrapper global-beam-wrapper">
    <div class="beam">
        <div class="beam-item">
            <header class="top-line">
                <a href="/" class="logo">
                    <img src="/assets/img/logo.svg" alt="{{ site.title}}">
                </a>
                <nav class="main-nav">
                    {% assign related = site.pages | where: "menu", true %}
                    <ul>
                    {% for page in related %}
                        {% if page.menu_title.size > 1 %}                
                            <li><a href="{{ page.url }}">{{ page.menu_title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</div>