---
---

// Colors
$gray-0: #FFFFFF;
$gray-1: #F0F4F4;
$gray-2: #E5E5E5; 
$gray-3: #6D6F6F;
$gray-4: #6D6F6F;
$gray-5: #6D6F6F;
$gray-6: #6D6F6F;
$black-0: #000;
$main: #037C87;
$danger: #E42920;
$warning: #F7AA12;

//Document size
$beam-gutter-size: 40px;
$beam-size: 800px;

//Borders
$gray-border: 1px solid $gray-1;

//Shadows
$main-shadow: 0px 20px 40px rgba(0, 0, 0, .1);

//Main elements
*,
 ::before,
 ::after {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 27px;
}
body {
    margin: 0 auto;    
}
h1, h2, h3, h4 {
    font-style: normal;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    border-bottom: $gray-border;
    position: relative;
    margin-bottom: 10px;
    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 50px;
        background-color: $main;
        position: absolute;
        bottom: -1px;
        left: 0px;
    }
}
// h1, .h1 {
//     font-size: 33px;
//     line-height: 51px;
// }
h1, .h1 {
    font-size: 26px;
    line-height: 41px;
}
h2, .h2 {
    font-size: 20px;
    line-height: 32px;
}
h3, .h3 {
    font-size: 16px;
    line-height: 27px;
}
h4, .h4 {
    font-size: 16px;
    line-height: 27px;
    border-bottom: none;
    padding-bottom: 0;
    &::after {
        display: none;
    }
}
a {
    text-decoration: none;
    color: $main;
}
figure {
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    img {        
        display: block;
    }
    figcaption{
        background-color: $gray-1;
        display: block;
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
    }
}
img {
    width: 100%;
}

//Document Structure
.beams-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    &.global-beam-wrapper {
        .beam {
            max-width: $beam-size;
        }
    }
}
.beam-item>.beam {
    margin-left: -($beam-gutter-size/2);
    --beam-gutter-size: #{$beam-gutter-size};
    max-width: $beam-size;
    width: calc(var(--beam-gutter-size) + 100%);
}
.beam {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100%);
    &.b-size-6 {
        >.b-size-1 {
            flex-basis: 16.66%;
        }
        >.b-size-2 {
            flex-basis: 33.33%;
        }
        >.b-size-3 {
            flex-basis: 50%;
        }
        >.b-size-4 {
            flex-basis: 66.66%;
        }
        >.b-size-5 {
            flex-basis: 83.33%;
        }
        >.b-size-6 {
            flex-basis: 100%;
        }
    }
    &.b-size-5 {
        >.b-size-1 {
            flex-basis: 20%;
        }
        >.b-size-2 {
            flex-basis: 40%;
        }
        >.b-size-3 {
            flex-basis: 60%;
        }
        >.b-size-4 {
            flex-basis: 80%;
        }
        >.b-size-5 {
            flex-basis: 100%;
        }
    }
    &.b-size-4 {
        >.b-size-1 {
            flex-basis: 25%;
        }
        >.b-size-2 {
            flex-basis: 50%;
        }
        >.b-size-3 {
            flex-basis: 75%;
        }
        >.b-size-4 {
            flex-basis: 100%;
        }
    }
    &.b-size-3 {
        >.b-size-1 {
            flex-basis: 33.33%;
        }
        >.b-size-2 {
            flex-basis: 66.66%;
        }
        >.b-size-3 {
            flex-basis: 100%;
        }
    }
    .beam-item {
        padding-left: $beam-gutter-size/2;
        padding-right: $beam-gutter-size/2;
        width: 100%;
    }
}

//Table of content
.table-of-content {
    margin-top: 40px;
    padding-left: 40px;
    border-left: $gray-border;
    @media (max-width: 550px) {
        padding-left: 20px;
    }
    .title {
        font-weight: bold;
    }
    >ul {
        padding-left: 0;
        ul {
            padding-left: 20px;
        }
    }
    ul {
        list-style: none;
        li {
            margin-top: 10px;
            &:first-child {
                margin-top: 10px;
            }
        }
    }
}

//Distinction
.distinction {    
    padding-left: 30px;
    border-left: $gray-border;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: -12px;
        height: 24px;
        width: 24px;
        background-position: center;
    }
    &.distinction-info {
        &:before {
            background-image: url("/assets/img/info.svg");
            background-color: #fff;
        }
    }
    &.distinction-question {
        &:before {
            background-image: url("/assets/img/question.svg");            
            background-color: #fff;
        }
    }
    &.distinction-quotation {
        &:before {
            background-image: url("/assets/img/quotation.svg");
            background-color: #fff;
        }
    }

    &.distinction-negative {
        border-color: $danger;
        &.distinction-info {
            &:before {
                background-image: url("/assets/img/info-negative.svg");
            }
        }
        &.distinction-question {
            &:before {
                background-image: url("/assets/img/question-negative.svg");
            }
        }
        &.distinction-quotation {
            &:before {
                background-image: url("/assets/img/quotation-negative.svg");
            }
        }
    }
    &.distinction-positive {
        border-color:  #039BA9;
        &.distinction-info {
            &:before {
                background-image: url("/assets/img/info-positive.svg");
            }
        }
        &.distinction-question {
            &:before {
                background-image: url("/assets/img/question-positive.svg");
            }
        }
        &.distinction-quotation {
            &:before {
                background-image: url("/assets/img/quotation-positive.svg");
            }
        }
    }
}

//Lists
.list {
    padding-left: 30px;
    list-style: none;
    li {
        line-height: 26px;
        padding-bottom: 10px;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 9px;
            left: -26px;
            height: 8px;
            width: 8px;
            background-image: url("/assets/img/list-icon.svg");
            background-position: center;
        }
    }
    &.list-positive {
        li {
            &:before {
                top: 8px;
                left: -29px;
                height: 10px;
                width: 14px;
                background-image: url("/assets/img/list-icon-positive.svg");
            }
        }
    }
    &.list-negative {
        li {
            &:before {
                top: 8px;
                left: -27px;
                height: 10px;
                width: 10px;
                background-image: url("/assets/img/list-icon-negative.svg");
            }
        }
    }
}

//FAQ
.faq {
    .h4 {
        padding-top: 0;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
}

//IMG ratio boxes
.img-box {
    position: relative;
    overflow: hidden;
    .img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.2s;
    }
    &.img-ratio-16-9 {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }
    &.img-ratio-16-6 {
        position: relative;
        width: 100%;
        padding-top: 35%;
    }
}

//Top line
$top-line-height: 70px;
.top-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: $top-line-height;
    border-bottom: $gray-border;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $top-line-height;
        padding: 20px 20px 20px 0;
    }
    .main-nav {
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            padding: 0px;
            margin: 0px;;
            li {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: $top-line-height;
                    padding: 20px;
                    text-decoration: none;
                    color: $black-0;
                    &:hover {
                        position: relative;
                        top: 1px;
                        color: $main;
                        border-bottom: 1px solid $main;
                    }
                }
            }
        }
    }
    @media (max-width: 500px) {
        flex-direction: column;        
        .logo {            
            padding: 20px;
        }
        .main-nav {
            width: 100%;
            border-top: $gray-border;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    } 
}

//Footer
.footer {    
    .language {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-top: $gray-border;
        border-bottom: $gray-border;
        a {
            padding: 15px;
            img {
                display: block;
            }
        }
    }
    .copy {        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        p {
            text-align: center;
        }
    }
}

//Breadcrumbs
.breadcrumbs {
    ol {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: block;
        border-bottom: $gray-border;
        li {
            display: inline-block;
            padding-left: 30px;
            position: relative;
            &::before {
                content: " ";
                position: absolute;
                top: 16px;
                left: 4px;
                display: block;
                height: 4px;
                width: 16px;
                background-image: url(../assets/img/breadcrumb-arrow.svg);
                background-size: cover;

            }
            &:first-child {
                padding-left: 0;
                &::before {
                    display: none;
                }
            }
            a {
                display: inline-block;
                padding: 5px 0;
            }
            @media (max-width: 760px) {
                display: none;
                &:nth-last-child(2) {
                    display: block;
                    padding-left: 0px;
                    &::before {
                        display: block;
                        transform: rotate(180deg);
                        z-index: -1;
                    }
                    a {
                        padding-left: 30px;
                        display: block;
                    }
                }
            }
        }
    }
}

//Pages
.page-content {
    margin-bottom: 80px;
}

//Posts
.posts {
    margin-bottom: 40px;
    .show-all {
        display: inline-block;
        margin-bottom: 40px;
    }
}

//Posts grid
.posts-grid {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

//Post
.post-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $black-0;
    text-decoration: none;
    margin-bottom: 40px;
    .info {
        p {
            margin: 5px 0 0 0;
            padding: 0;
            color: $gray-3
        }
    }
    .title {
        h1, h2, h3, h4 {
            margin: 0;
            padding: 0;
            border: none;
            font-size: 18px;
            line-height: 28px;
            &::after {
                display: none;
            }
        }
    }
    .intro {
        p {
            margin: 0;
        }
    }
    &:hover {
        .photo {
            .img-box {
                img {                    
                    transform: translateX(-50%) translateY(-50%) scale(1.1);
                }
            }
        }
        .title {
            color: $main;
        }
    }
}

.publication-author {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-top: $gray-border;
    border-bottom: $gray-border;
    padding: 20px 0;
    margin: 30px 0;
    .photo {
        img {
            height: 80px;
            width: 80px;
            border-radius: 40px;
            display: block;
        }
    }
    .details {
        display: flex;
        flex-flow: column;
        padding-left: 20px;
        .desc {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.post-date {
    * {
        font-size: 14px;
    }
}


.products-wrapper {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
    &.nowrap {
        overflow: hidden;
        overflow-x: auto;
        margin-bottom: 20px;
        .flex-container {
            flex-wrap: nowrap;
            margin-left: 0;
            margin-right: 0;
            .flex-item {
                margin: 0 $beam-gutter-size/3;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .products-container {
        display:flex;
        flex-flow: row wrap;
        margin-left: -$beam-gutter-size/3;
        margin-right: -$beam-gutter-size/3;
        .products-item {
            flex: 1 0 230px;
            margin: 0 $beam-gutter-size/3 $beam-gutter-size/2;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.product-listing-boxitem-md {
    transition: 0.2s;
    border-radius: 3px;
    border:  $gray-border;
    padding:15px 15px 5px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    .img-section {
        flex-basis: 200px;
        height: 200px;
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        .img {
            max-width: 100%;
        }
    }
    .desc-section {
        flex-basis: 180px;
        flex-grow: 1;
        flex-shrink: 0;
        margin-left: 15px;
        .header {
            > * {
                margin-bottom: 5px;
                margin-top: 0px;
            }
            .title {
                font-weight: normal;
                line-height: 19px;
                font-size: 14px;
                color:$black-0;
                margin-bottom: 10px;
            }
            .subtitle {
                font-weight: bold;
                font-size: 22px;
                line-height: 22px;
                color:$black-0;
            }
        }
        .content {
            margin: 10px 0;
            > * {
                margin: 0 0 5px 0;
            }
            * {
                font-size: 12px;
                line-height: 18px;
                color:$black-0;
            }
        }
        .footer {
            .buttons {
                p {
                    display: inline-flex;
                    margin-bottom: 10px;
                    margin: 0px;
                    font-size: 13px;
                    font-weight: bold;
                    * {
                        font-size: 13px;
                    }
                }
                .btn {
                    margin-bottom: 10px;
                    margin-right: 10px;
                    background-color: $warning;
                    padding: 5px 15px;
                    color: $gray-0;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
    }
    
    &.promoted {
        border-color: $warning;
        .desc-section {
            .header {                
                .subtitle {
                    color: $warning;
                }
            }
        }
    }
    &:hover {
        box-shadow: 0px 2px 10px rgba(15, 29, 53, 0.15);
        transform: translateY(-4px);
        
    }
}