---
---

// Colors
$gray-0: #FFFFFF;
$gray-1: #F8F8F8;
$gray-2: #EFEFEF;
$gray-3: #D5D5D5;
$gray-4: #8B8B8B;
$gray-5:#444444;
$main: #187D71;
$success: #48A33E;
$warning: #F6C500;
$danger: #E83838;
$info: #2A79B6; 

//Document size
$beam-gutter-size: 40px;
$beam-size: 1200px;

//Borders
$gray-border: 2px solid $gray-2;

//Shadows
$main-shadow: 0px 20px 40px rgba(0, 0, 0, .1);

//Top-line height
:root {
    --header-height: 80px;
    @media (max-width: 1200px) {
        --header-height: 60px;
    }
    --header-height-negative: -80px;
    @media (max-width: 1200px) {
        --header-height-negative: -60px;
    }
  }


// @import 'variables.scss';

// body {
//     background-color: $success;
// }
//Document Structure
.beams-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    &.global-beam-wrapper {
        .beam {
            max-width: $beam-size;
        }
    }
}
.beam-item>.beam {
    margin-left: -($beam-gutter-size/2);
    --beam-gutter-size: #{$beam-gutter-size};
    max-width: $beam-size;
    width: calc(var(--beam-gutter-size) + 100%);
}
.beam {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100%);
    &.b-size-6 {
        >.b-size-1 {
            flex-basis: 16.66%;
        }
        >.b-size-2 {
            flex-basis: 33.33%;
        }
        >.b-size-3 {
            flex-basis: 50%;
        }
        >.b-size-4 {
            flex-basis: 66.66%;
        }
        >.b-size-5 {
            flex-basis: 83.33%;
        }
        >.b-size-6 {
            flex-basis: 100%;
        }
    }
    &.b-size-5 {
        >.b-size-1 {
            flex-basis: 20%;
        }
        >.b-size-2 {
            flex-basis: 40%;
        }
        >.b-size-3 {
            flex-basis: 60%;
        }
        >.b-size-4 {
            flex-basis: 80%;
        }
        >.b-size-5 {
            flex-basis: 100%;
        }
    }
    &.b-size-4 {
        >.b-size-1 {
            flex-basis: 25%;
        }
        >.b-size-2 {
            flex-basis: 50%;
        }
        >.b-size-3 {
            flex-basis: 75%;
        }
        >.b-size-4 {
            flex-basis: 100%;
        }
    }
    &.b-size-3 {
        >.b-size-1 {
            flex-basis: 33.33%;
        }
        >.b-size-2 {
            flex-basis: 66.66%;
        }
        >.b-size-3 {
            flex-basis: 100%;
        }
    }
    .beam-item {
        padding-left: $beam-gutter-size/2;
        padding-right: $beam-gutter-size/2;
        width: 100%;
    }
}