<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pl' }}">
    <head>
        {% include head.html %}
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@graph": [
                {
                  "@type": "WebSite",
                  "name": "{{site.title}}",
                  "url": "{{site.url}}"
                }
            ]
        }
        </script>
    </head>
    <body>    
        {% include top-line.html %}
        <div class="beams-wrapper global-beam-wrapper">
          <main class="beam content">
            <section class="beam-item markdown">                    
              <h1>{{page.page_header}}</h1>
              {{page.page_intro | markdownify}}                 
            </section>
            <section class="beam-item posts">       
              <p class="h1">{{site.data.translations.lastPosts}}</p>
              <p>{{ page.blog_intro | markdownify }}</p>
              <ul class="beam b-size-6 posts-grid">
                {% assign related = site.posts %}
                {% for post in related limit: 4 %}
                      <li class="beam-item b-size-3">
                        {% include post-item.html %}
                      </li>
                {% endfor %}
              </ul>
              <a href="/blog.html" class="show-all">{{site.data.translations.allPosts}} </a>
            </section>
            {% include random-links.html %}
          </main>          
        </div>
        {% include footer.html %}   
    </body>
</html>