<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pl' }}">
    <head>
        {% include head.html %}
        {% seo %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css?v=1">
    </head>
    <body>    
        <div class="beams-wrapper global-beam-wrapper">
         <div class="beam">
             <div class="beam-item">
                 
                {% include top-line.html %}   

                {{ content }} 
        
             </div>
         </div>
        </div>
    </body>
</html>